<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans 
	     http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
         http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

		<bean id="userManager" class="com.hbsoft.hack.dao.UserDAO">
			 <property name="sessionFactory" ref="sessionFactory" />		
		</bean>	
		
		<bean id="topicManager" class="com.hbsoft.hack.dao.TopicDAO">
			 <property name="sessionFactory" ref="sessionFactory" />		
		</bean>
		
		<bean id="adminManager" class="com.hbsoft.hack.dao.AdminDAO">
			 <property name="sessionFactory" ref="sessionFactory" />		
		</bean>
		
		<bean id="bbsManager" class="com.hbsoft.hack.dao.BBSDAO">
			 <property name="sessionFactory" ref="sessionFactory" />		
		</bean>
		
		<bean id="initManager" class="com.hbsoft.hack.dao.InitDAO">
			 <property name="sessionFactory" ref="sessionFactory" />		
		</bean>
		
		<bean id="initHackSystem" class="com.hbsoft.hack.init.InitHackSystem" />

		
</beans>
