@CHARSET "UTF-8";

body
	{
		text-align:center;
		margin:0px;
		padding:0px;
		background-image:url(../images/bg.jpg);
		font-family: Arial, Helvetica, Verdana, Sans-serif;
		font-size:12px;
	}
	.fo
	{
		font-size:13px;
		color:red;
		margin-left:5px;
	}
	#main
	{
		text-align:center;
		width:900px;
		font-size:12px;
	}
	
	#top
	{
		margin-top:10px;
		height:20px;
		text-align:center;
		font-weight:bold;
	}
	
	a
	{
		text-decoration:none;
		color:#FFFFFF;
		font-size:13px;
		font-family:黑体;
	}
	a:hover
	{
		color:#FF0000;
	}
	
	#er
	{
		height:35px;
		margin-top:10px;
		background-color:#666666;
		padding:0px;
	}
	#er_yi
	{
		float:left;		
		margin:0px;
		margin-top:10px;
		margin-left:60px;
	}
	#er_er
	{
		float:right;
		margin:0px;
		margin-top:10px;
		margin-right:10px;
	}
	#san
	{
		text-align:center;
		width:900px;
		font-size:12px;
	}
	#san_yi
	{
		float:left;
	}
	#san_er
	{
		float:left;
		margin-left:5px;
		margin-top:2px;
	}
	.san_san
	{
		padding-top:9px;
		margin-buttom:5px
		font-size:12px;
	}
	.san_san
	{
		font-size:12px;
	}
	#si_yi
	{
		float:left;
	}
	#si_er
	{
		float:left;
		margin-left:5px;
	}
	#wu
	{
		height:41px;
		margin:0px;
		width:891px;
		border:1px #999999 double;
		text-align:left;
		padding-top:10px;
		padding-left:30px;
		font-size:16px;
		overflow:hidden;
	}
	.liu
	{
		height:30px;
		border:1px #999999 double;
		background-color:#333333;
		margin:4px;
		width:891px;
		overflow:hidden;
	}
	#liu_yi
	{
		float:left;
		padding-top:1px;
		padding-left:10px;
	}
	#liu_er
	{
		float:right;
		padding-top:5px;
		padding-right:20px;
	}
	#sostyle
	{
		width:70px;
	}
	#ins
	{
		background-color:#666666;
	}
	#soin
	{
		padding:0px;
	}
	#dyna
	{
		width:920px;
		text-align:center;
		margin:0px;
		padding:2px;
		height:auto;
		margin-top:10px;
		padding-left:5px;
	}
	#qi
	{
		width:664px;
		height:auto;
		overflow:hidden;
		float:left;
		margin-left:0px;
	}
	#ba
	{
		width:220px;
		height:1000px;
		float:left;
		margin-left:6px;
	}
	.qi_top
	{
		overflow:hidden;
		width:664px;
		text-align:center;
	}
	.qi_yi
	{
		width:331px;
		border:1px gray dotted;
		height:400px;
		float:left;
	}
	.qi_er
	{
		float:left;
		width:331px;
		border:1px gray dotted;
		height:400px;
		float:right;
	}
	
	#jian
	{
		width:100px;
		margin-right:3px;		
	}
	#sre
	{
		font-size:14px;
		margin-left:10px;
		margin-right:10px;
		color:red;
	}
	.index_left
	{
		width:329px;
		height:20px;
		font-size:16px;
		font-family:楷体_GB2312;
		padding-top:5px;
		background-color:gray;
		text-align:left;
		padding-bottom:3px;
		color:white;
	}
	.index_time
	{
		color:red;
		font-size:12px;
		display:block;
		width:60px;
	}
	.index_title
	{
		width:260px;
		overflow: hidden;
	    text-overflow: ellipsis;
		white-space: nowrap;
		course:hand;
		padding-top:2px;
	}
	.index_right1
	{
		float:right;
		
	}
	.index_left1
	{
		float:left;
	}